.row {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.card {
  border-color: black;
  min-height: 25rem;
}
.card-title {
  text-align: center;
  margin-bottom: 2rem;
}
.btn {
  margin-top: 1rem;
}
.form-control {
  border-color: black;
  margin-bottom: 1rem;
  margin-top: 8rem;
}
.card-text {
  font-weight: bold;
}
