<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Enter Your Question Below:</h5>

        <input
          type="text"
          class="form-control"
          placeholder="ENTER DISH NAME : "
          aria-label="ENTER DISH NAME : "
          aria-describedby="basic-addon2"
          [(ngModel)]="name"
        />
        <div class="text-center">
          <button class="btn btn-primary" (click)="onclick()">
            Get Amount
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Your Answer here:</h5>
        <h5>{{ msg }}</h5>
        <p class="card-text text-center">CALORIES</p>
        <p class="text-center">{{ cal }}</p>
        <p class="card-text text-center">PROTIENS</p>
        <p class="text-center">{{ pro }}</p>
        <p class="card-text text-center">CARBS</p>
        <p class="text-center">{{ car }}</p>
        <p class="card-text text-center">FAT</p>
        <p class="text-center">{{ fat }}</p>
      </div>
    </div>
  </div>
</div>
